page-museum {
body{
  background-color: #000000;
}
  #logo{
    position: absolute;
    top: 15%;
    left: 18%;
  }
  #info{
    width:80%;
    height: 30%;
    top:60%;
    position: absolute;
    left: 10%}
}
