page-home {
body{
  background-color: #000000;
 margin: 0;
}
  #entersite{
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 18%;
    left: 18%;
  }
  img{
    transform: scale(1.4);
    position: absolute;
    top: 33%;
    left: 32%;
  }




  @media screen and (max-width: 1030px){
    body{
      height: 100%;
      width: 100%;
    }
    img{
      transform: scale(1.2);
      position: absolute;
      top: 30%;
      left: 20%;
    }
  }
  @media screen and (max-width: 770px ){
    img{
      transform: scale(1.0);
      left: 10%;
    }
  }
  @media screen and (max-width: 520px){
    img{
      width: 350px;
      left: 6%;

    }
  }
    @media screen and (max-width: 321px){
      img{
        left: 2%;
      }

      }

    @media screen and (max-height: 400px){

    }

  }

