page-game {
body{
  background-color: black;
}
#puzzle{
  width: 600px;
  height: 600px;
  top: 13%;
  left: 20%;
  position: absolute;
}
  #banner{
    width: 500px;
    height: 600px;
    position: absolute;
    top: -22%;
    left: 26%;
  }
}
